/* Button */
.button{
    -fx-background-color: #24A1F2;
    -fx-text-fill: #F3FAFE;
    -fx-border-radius: 10, 10, 10, 10;
}

.button:hover{
    -fx-background-color: #24A1F2;
}

.button:focused{
    -fx-focus-color: transparent;
}


/* Label */
.label{
    -fx-text-fill: #0292F0;
}


/* Text Field */
.text-field{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #F3FAFE;
    -fx-border-color: #24A1F2;
    -fx-text-fill: #24A1F2;
}

.text-field:focused{
    -fx-background-color: #F3FAFE;
    -fx-border-color: #24A1F2;
    -fx-text-fill: #24A1F2;
}


/* Radiobutton */
.radio-button{
    -fx-text-fill: #0292F0;
}

.radio-button .dot{
    -fx-mark-highlight-color: #0292F0;
    -fx-mark-color: #0292F0;
}

.radio-button .radio{
    -fx-border-color: #24A1F2;
    -fx-border-radius: 50%;
    -fx-background-color: #F3FAFE;
}

.radio-button:focused{
    -fx-mark-highlight-color: #0292F0;
    -fx-mark-color: #0292F0;
}

/* Datepicker */
.date-picker > .arrow-button {
    -fx-background-color: #0292F0;
    -fx-border-color: #0292F0;
    -fx-border-radius: 0 6 6 0;
}

.date-picker > .arrow-button > .arrow {
    /*-fx-shape: null;
    /*-fx-fill: white;
    /*-fx-background-image: url(...);*/
}

.date-picker > .text-field {
    -fx-background-color: #F3FAFE;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #F3FAFE;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}

.date-picker-popup {
    -fx-background-color: #F3FAFE;
    -fx-border-color: #24A1F2;
}

.date-picker{
    -fx-background-color: #F3FAFE;
    -fx-border-color: #24A1F2;
    -fx-border-radius: 10 8 8 10;
}


/* Scrollpane */
.scroll-bar:vertical{
    -fx-background-color: #F3FAFE;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #24A1F2;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #24A1F2;
}

.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #24A1F2;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: #24A1F2;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #24A1F2;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}

.scroll-bar:vertical:focused{
    -fx-background-color: transparent, #F3FAFE, #F3FAFE;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}



.date-picker > .arrow-button > .arrow {

    -fx-background-color: #FFFFFF;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; /* 5 5 4 4 */
    -fx-scale-shape: true;
}

.date-picker-popup {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color,-17%), derive(-fx-color,-30%)), -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0; /* VBox */
    -fx-padding: 0.083333em; /* 1 1 1 1 */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}
.date-picker-popup > .month-year-pane {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; /* 7 6 8 6 */
    -fx-background-color: #F3FAFE;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}
.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color: transparent;
}
.date-picker-popup > * > .spinner > .button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-color: transparent;
    -fx-background-radius: 0;
}

.date-picker-popup > * > .spinner > .button:hover {
    -fx-background-color: transparent;
}

.date-picker-popup > * > .spinner > .left-button {
    -fx-padding: 0 0.333333em 0 0.25em; /* 0 4 0 3 */
}
.date-picker-popup > * > .spinner > .right-button {
    -fx-padding: 0 0.25em 0 0.333333em; /* 0 3 0 4 */
}
.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: #24A1F2;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em; /* 4 2 4 2 */
}
.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: #0292F0;
    /*-fx-background-insets: 1 0 0 0;*/
    -fx-padding: 0;
}
.date-picker-popup > * > .date-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 1, 2;
    -fx-padding: 0;
    -fx-alignment: BASELINE_CENTER;
    -fx-opacity: 1.0;
}
.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.916667em;
}
.date-picker-popup > * > .week-number-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: #A1C9E0;
    -fx-border-width: 1px;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: #A1C9E0;
    -fx-text-fill: #24A1F2;
}
.date-picker-popup > * > .day-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: #CEE6F4;
    -fx-border-width: 1px;
    -fx-font-size: 1em;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: #F3FAFE;
    -fx-text-fill: #24A1F2;
}
.date-picker-popup > * > .hijrah-day-cell {
    -fx-alignment: TOP_LEFT;
    -fx-padding: 0.083333em 0.333333em 0.083333em 0.333333em; /* 1 4 1 4 */
    -fx-cell-size: 2.75em;
}
.date-picker-popup > * > .today {
    -fx-background-color: #CEE6F4, #24A1F2, #CEE6F4;
    -fx-background-insets: 1, 2, 3;
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-text-fill: #CEE6F4;
    -fx-background-color: #F3FAFE;
}

.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
    -fx-background: -fx-selection-bar;
}
.date-picker-popup > * > .previous-month:hover,
.date-picker-popup > * > .next-month:hover {
    -fx-background: -fx-selection-bar-non-focused;
}
.date-picker-popup > * > .today:hover,
.date-picker-popup > * > .today.selected {
    -fx-background-color: #A1C9E0;
}
.date-picker-popup > * > .day-cell:focused,
.date-picker-popup > * > .today:focused {
    -fx-background-color: #CEE6F4;
    -fx-background-insets: 1, 2, 3;
}
.date-picker-popup > * > .day-cell:focused:hover,
.date-picker-popup > * > .today:focused:hover,
.date-picker-popup > * > .selected:focused,
.date-picker-popup > * > .today.selected:focused {
    -fx-background-color: #CEE6F4;
}



.table-view{
    -fx-background-color: #24A1F2, #F3FAFE;
}

.table-view:focused{
    -fx-background-color: #24A1F2, #F3FAFE;
}

.table-view .column-header-background{
    -fx-background-color: #F3FAFE;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #24A1F2;

}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #24A1F2;
}

.table-row-cell{
    -fx-background-color: #24A1F2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: #24A1F2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #A1C9E0;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}



